<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="/style.css"> -->

  <body>
    <div class="app-fuel quotehistory">
      <div class="clearfix">
        <a href="/logout" class="pull-right">Logout</a>
      </div>
      <h2 class="text-center">Fuel Quote History</h2>
      <table class="table table-hover table-bordered">
        <tr>
          <th>Gallons</th>
          <th>Delivery Address</th>
          <th>Delivery Date</th>
          <th>Suggested Price</th>
          <th>Total Amount Due</th>
        </tr>
        <% for(var i=0; i < history.length; i++) { %>
        <tr>
          <td><%= history[i].gallons %></td>
          <td><%= history[i].deliveryAddress %></td>
          <td><%= history[i].deliveryDate %></td>
          <td>$ <%= history[i].suggestedPrice %></td>
          <td>$ <%= history[i].amountDue %></td>
        </tr>
        <% } %>
      </table>
      <div class="clearfix">
        <a href="/profile" class="pull-left">Profile</a>
        <a href="/quote" class="pull-right">Quote?</a>
      </div>
    </div>
  </body>
</html>
